a:hover {
  color: #EB5576;
  font-weight: 500; }

.section-find-more-blog {
  margin: 3rem 10%; }
  .section-find-more-blog .section-title-cont {
    margin-bottom: 2.2rem; }
    .section-find-more-blog .section-title-cont .title {
      text-align: center;
      color: #40516F;
      font-family: 'Montserrat', sans-serif;
      font-size: 2em;
      font-weight: bold;
      padding: 0;
      margin: 0 0 .5rem; }
    .section-find-more-blog .section-title-cont .subtitle {
      text-align: center;
      color: #6C6C6C;
      font-size: 1.14em;
      font-family: 'Roboto';
      font-weight: 500;
      padding: 0;
      margin: 0; }
  .section-find-more-blog .cards-toblog-cont {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin: 0; }
    .section-find-more-blog .cards-toblog-cont .card-toblog {
      width: min-content;
      margin-right: .5rem;
      margin-bottom: 1.5rem; }
      .section-find-more-blog .cards-toblog-cont .card-toblog .img-cont {
        width: 270px;
        height: 200px; }
        .section-find-more-blog .cards-toblog-cont .card-toblog .img-cont img {
          width: inherit;
          height: inherit; }
      .section-find-more-blog .cards-toblog-cont .card-toblog .tag-cont {
        padding-top: 1.4rem;
        padding-bottom: 1.2rem;
        font-weight: 500;
        font-size: 0.9em;
        font-family: "Roboto", "Helvetica", "Arial", sans-serif; }
        .section-find-more-blog .cards-toblog-cont .card-toblog .tag-cont .tag {
          color: #FFFFFF;
          padding-left: 1em;
          padding-right: 1em;
          padding-top: .4em;
          padding-bottom: 0.4em;
          font-weight: 400; }
          .section-find-more-blog .cards-toblog-cont .card-toblog .tag-cont .tag-purple {
            background-color: #6A5A8E; }
          .section-find-more-blog .cards-toblog-cont .card-toblog .tag-cont .tag-orange {
            background-color: #ff9800; }
          .section-find-more-blog .cards-toblog-cont .card-toblog .tag-cont .tag-blue {
            background-color: #00bcd4; }
      .section-find-more-blog .cards-toblog-cont .card-toblog .info-cont h3 {
        font-weight: 700;
        color: #40516F;
        font-family: 'Montserrat', sans-serif;
        font-size: 1.52em;
        line-height: 18px;
        letter-spacing: 1px;
        margin: 0 0 .7rem; }
      .section-find-more-blog .cards-toblog-cont .card-toblog .info-cont p {
        color: #6C6C6C;
        font-size: 1em;
        font-family: "Roboto", "Helvetica", "Arial", sans-serif;
        font-weight: 400;
        margin: 0 0 .3rem; }
        .section-find-more-blog .cards-toblog-cont .card-toblog .info-cont p a {
          font-family: "Roboto", "Helvetica", "Arial", sans-serif;
          font-weight: 600;
          cursor: pointer;
          color: #287CAD; }
      .section-find-more-blog .cards-toblog-cont .card-toblog .info-cont a {
        color: #40516F;
        font-weight: 400;
        font-family: "Roboto", "Helvetica", "Arial", sans-serif; }
        .section-find-more-blog .cards-toblog-cont .card-toblog .info-cont a strong {
          color: #40516F;
          font-weight: bold;
          font-family: "Roboto", "Helvetica", "Arial", sans-serif; }

.footer {
  display: flex;
  flex-flow: column nowrap; }
  .footer .sign-up-sec {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    background-color: #287CAD;
    padding: 1.5rem .5rem; }
    .footer .sign-up-sec .msj-ico-cont {
      display: flex;
      flex-flow: row nowrap;
      align-items: center; }
      .footer .sign-up-sec .msj-ico-cont i {
        color: #ffffff;
        margin-right: .5rem; }
      .footer .sign-up-sec .msj-ico-cont strong {
        color: #ffffff;
        font-family: 'Montserrat', sans-serif;
        font-size: 1.5em; }
    .footer .sign-up-sec .form-cont form .inputs-cont {
      display: flex;
      flex-flow: row nowrap;
      align-items: center; }
      .footer .sign-up-sec .form-cont form .inputs-cont .email {
        border: none;
        margin: 0px;
        height: 3rem;
        font-size: 1em;
        font-weight: 400;
        color: #767676;
        text-transform: capitalize;
        letter-spacing: 0.6px;
        padding: 0 4rem 0 1rem;
        line-height: 24px;
        background: #fff;
        border-radius: 4px 0px 0px 4px;
        width: 20rem; }
      .footer .sign-up-sec .form-cont form .inputs-cont .submit {
        margin: 0;
        height: 3rem;
        padding: 8px 19px;
        color: #fff;
        text-transform: uppercase;
        letter-spacing: 0.6px;
        font-size: 12px;
        font-weight: 500;
        background-color: #6A5A8D;
        border: 1px solid #fff;
        border-radius: 4px;
        margin-left: -.5rem;
        font-family: 'Roboto' !important;
        cursor: pointer;
        transition: all 0.6s ease-in-out;
        -webkit-transition: all 0.6s ease-in-out;
        -moz-transition: all 0.6s ease-in-out;
        -ms-transition: all 0.6s ease-in-out;
        -o-transition: all 0.6s ease-in-out;
        -khtml-transition: all 0.6s ease-in-out; }
      .footer .sign-up-sec .form-cont form .inputs-cont .submit:hover {
        border: 1px solid #786AA0;
        background-color: #786AA0 !important; }
  .footer .links-sec {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin: 2rem 10% 0rem;
    padding-bottom: 4rem;
    position: relative; }
    .footer .links-sec strong {
      color: #40516F;
      text-transform: uppercase !important;
      font-family: "Roboto Slab", "Times New Roman", serif;
      font-weight: 700;
      font-size: 1.2em; }
    .footer .links-sec ul {
      margin-top: .5rem; }
    .footer .links-sec .contactus-cont ul li {
      display: flex; }
      .footer .links-sec .contactus-cont ul li span {
        line-height: 2rem;
        font-size: 1em;
        letter-spacing: 0.2px;
        font-weight: 400;
        color: #484848;
        font-family: 'Roboto';
        text-transform: none;
        display: inline-block; }
      .footer .links-sec .contactus-cont ul li i {
        color: #287CAD;
        font-size: 1.5em;
        float: left;
        display: inline-block;
        line-height: 30px;
        margin-right: 10px; }
    .footer .links-sec .followus-cont {
      position: absolute;
      bottom: 0;
      left: 0; }
      .footer .links-sec .followus-cont ul li {
        display: inline-block;
        margin-right: 1rem; }
    .footer .links-sec .legaladvice-cont ul li a, .footer .links-sec .about-cont ul li a {
      cursor: pointer;
      font-size: 1em;
      font-weight: 400;
      line-height: 2rem;
      letter-spacing: 0em;
      color: #484848;
      font-family: 'Roboto';
      text-transform: none;
      position: relative;
      display: flex;
      align-items: center; }
      .footer .links-sec .legaladvice-cont ul li a i, .footer .links-sec .about-cont ul li a i {
        color: #287CAD;
        margin-left: -.5rem; }
  .footer .copyr-sec {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    margin: 3rem 10% 0;
    padding: 2rem 0;
    border-top: 1px solid #e9e9e9; }
    .footer .copyr-sec .categories-cont a {
      font-weight: bold;
      font-size: .9rem;
      margin-right: .5rem;
      color: #40516F;
      font-family: "Roboto Slab", "Times New Roman", serif; }
    .footer .copyr-sec .text-cont small {
      font-size: 1em;
      letter-spacing: 0.5px;
      line-height: 14px;
      color: #888888;
      text-transform: capitalize; }

/*# sourceMappingURL=footer.css.map */
