a:hover {
	color: #EB5576;
	font-weight: 500;
}

.section-find-more-blog{
	margin:3rem 10%;
	.section-title-cont{
		margin-bottom: 2.2rem;
		.title{
			text-align: center;
			color: #40516F;
			font-family: 'Montserrat', sans-serif;
			font-size: 2em;
			font-weight: bold;
			padding: 0;
			margin: 0 0 .5rem;
		}
		.subtitle{
			text-align: center;
			color: #6C6C6C;
			font-size: 1.14em;
			font-family: 'Roboto';
			font-weight: 500;
			padding: 0;
			margin: 0;

		}
	}
	.cards-toblog-cont{
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		margin:0;

		.card-toblog{
			width: min-content;
			margin-right: .5rem;
			margin-bottom: 1.5rem;
			.img-cont{
				width: 270px;
				height: 200px;
				img{
					width: inherit;
					height: inherit;
				}
			}
			.tag-cont{
				padding-top: 1.4rem;
				padding-bottom: 1.2rem;
				font-weight: 500;
				font-size: 0.9em;
				font-family: "Roboto", "Helvetica", "Arial", sans-serif;

				.tag{
					color: #FFFFFF;
					padding-left: 1em;
					padding-right: 1em;
					padding-top: .4em;
					padding-bottom: 0.4em;
					font-weight: 400;

					&-purple{
						background-color: #6A5A8E;
					}
					&-orange{
						background-color: #ff9800;
					}
					&-blue{
						background-color: #00bcd4;
					}
				}

			}
			.info-cont{
				h3{
					font-weight: 700;
					color: #40516F;
					font-family: 'Montserrat', sans-serif;
					font-size: 1.52em;
					line-height: 18px;
					letter-spacing: 1px;
					margin:0 0 .7rem;
				}
				p{
					color: #6C6C6C;
					font-size: 1em;
					font-family: "Roboto", "Helvetica", "Arial", sans-serif;
					font-weight: 400;
					margin:0 0 .3rem;
					a{
						font-family: "Roboto", "Helvetica", "Arial", sans-serif;
						font-weight: 600;
						cursor: pointer;
						color: #287CAD;
					}
				}
				a{
					color: #40516F;
					font-weight: 400;
					font-family: "Roboto", "Helvetica", "Arial", sans-serif;
					strong{
						color: #40516F;
						font-weight: bold;
						font-family: "Roboto", "Helvetica", "Arial", sans-serif;

					}
				}
			}
		}
	}
}


.footer{
	display: flex;
	flex-flow: column nowrap;
	.sign-up-sec{
		display: flex;
		flex-flow: row wrap;		
		justify-content: space-around;
		background-color: #287CAD;
		padding: 1.5rem .5rem;
		.msj-ico-cont{
			display: flex;
			flex-flow: row nowrap;
			align-items: center;
			i{
				color: #ffffff;
				margin-right: .5rem;
			}

			strong{
				color: #ffffff;
				font-family: 'Montserrat', sans-serif;
				font-size: 1.5em;
			}
		}

		.form-cont{
			form{
				.inputs-cont{
					display: flex;
					flex-flow: row nowrap;
					align-items: center;
					.email{
						border: none;
						margin:0px;
						height: 3rem;
						font-size: 1em;
						font-weight: 400;
						color: #767676;
						text-transform: capitalize;
						letter-spacing: 0.6px;
						padding: 0 4rem 0 1rem;
						line-height: 24px;
						background: #fff;
						border-radius:4px 0px 0px 4px;
						width: 20rem;
					}

					.submit{
						margin: 0;
						height: 3rem;
						padding: 8px 19px;
						color: #fff;
						text-transform: uppercase;
						letter-spacing: 0.6px;
						font-size: 12px;
						font-weight: 500;
						background-color: #6A5A8D;
						border: 1px solid #fff;
						border-radius:4px; 
						margin-left: -.5rem;
						font-family: 'Roboto' !important;
						cursor: pointer;

						transition: all 0.6s ease-in-out;
						-webkit-transition: all 0.6s ease-in-out;
						-moz-transition: all 0.6s ease-in-out;
						-ms-transition: all 0.6s ease-in-out;
						-o-transition: all 0.6s ease-in-out;
						-khtml-transition: all 0.6s ease-in-out;
					}
					.submit:hover{
						border: 1px solid #786AA0;
						background-color: #786AA0 !important;
					}
				}
			}
		}
	}

	.links-sec{
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		margin: 2rem 10% 0rem;
		padding-bottom: 4rem;
		position: relative;
		strong{
			color: #40516F;
			text-transform: uppercase !important;
			font-family: "Roboto Slab", "Times New Roman", serif;
			font-weight: 700;
			font-size: 1.2em;
		}

		ul{
			margin-top: .5rem;
		}

		.contactus-cont 
		{
			ul li{
				display: flex;
				span{
					line-height: 2rem;
					font-size: 1em;
					letter-spacing: 0.2px;
					font-weight: 400;
					color: #484848;
					font-family: 'Roboto';
					text-transform: none;
					display: inline-block;
				}
				i{
					color: #287CAD;
					font-size: 1.5em;
					float: left;
					display: inline-block;
					line-height: 30px;
					margin-right: 10px;
				}

			}
		}

		.followus-cont{
			position: absolute;
			bottom: 0;
			left: 0;

			ul li{
				display: inline-block;
				margin-right: 1rem;
			}
		}


		.legaladvice-cont, .about-cont {
			ul li a{
				cursor: pointer;
				font-size: 1em;
				font-weight: 400;
				line-height: 2rem;
				letter-spacing: 0em;
				color: #484848;
				font-family: 'Roboto';
				text-transform: none;
				position: relative;
				display: flex;
				align-items: center;

				i{
					color: #287CAD;
					margin-left: -.5rem;
				}
			}
			// ul li a::before {
			// 	content: "\f105";
			// 	font-family: fontawesome;
			// 	left: 0;
			// 	font-size: 15px;
			// 	right: 0;
			// 	position: absolute;
			// 	font-weight: 400;
			// 	color: #287CAD;
			// 	box-sizing: inherit;
			// }
		}
	}

	.copyr-sec{
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		align-items: center;
		margin: 3rem 10% 0;
		padding: 2rem 0;
		border-top: 1px solid #e9e9e9;


		.categories-cont{
			a{
				font-weight: bold;
				font-size: .9rem;
				margin-right: .5rem;
				color: #40516F;
				font-family: "Roboto Slab", "Times New Roman", serif;
			}
		}

		.text-cont{
			small{
				font-size: 1em;
				letter-spacing: 0.5px;
				line-height: 14px;
				color: #888888;
				text-transform: capitalize;
			}
		}
	}
}
